@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@variant dark (&:where(.dark, .dark *));

@theme inline {
    --color-color-50: var(--color-50);
    --color-color-100: var(--color-100);
    --color-color-200: var(--color-200);
    --color-color-300: var(--color-300);
    --color-color-400: var(--color-400);
    --color-color-500: var(--color-500);
    --color-color-600: var(--color-600);
    --color-color-700: var(--color-700);
    --color-color-800: var(--color-800);
    --color-color-900: var(--color-900);
    --color-color-950: var(--color-950);

    --color-danger-50: var(--danger-50);
    --color-danger-100: var(--danger-100);
    --color-danger-200: var(--danger-200);
    --color-danger-300: var(--danger-300);
    --color-danger-400: var(--danger-400);
    --color-danger-500: var(--danger-500);
    --color-danger-600: var(--danger-600);
    --color-danger-700: var(--danger-700);
    --color-danger-800: var(--danger-800);
    --color-danger-900: var(--danger-900);
    --color-danger-950: var(--danger-950);

    --color-gray-50: var(--gray-50);
    --color-gray-100: var(--gray-100);
    --color-gray-200: var(--gray-200);
    --color-gray-300: var(--gray-300);
    --color-gray-400: var(--gray-400);
    --color-gray-500: var(--gray-500);
    --color-gray-600: var(--gray-600);
    --color-gray-700: var(--gray-700);
    --color-gray-800: var(--gray-800);
    --color-gray-900: var(--gray-900);
    --color-gray-950: var(--gray-950);

    --color-info-50: var(--info-50);
    --color-info-100: var(--info-100);
    --color-info-200: var(--info-200);
    --color-info-300: var(--info-300);
    --color-info-400: var(--info-400);
    --color-info-500: var(--info-500);
    --color-info-600: var(--info-600);
    --color-info-700: var(--info-700);
    --color-info-800: var(--info-800);
    --color-info-900: var(--info-900);
    --color-info-950: var(--info-950);

    --color-primary-50: var(--primary-50);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);
    --color-primary-800: var(--primary-800);
    --color-primary-900: var(--primary-900);
    --color-primary-950: var(--primary-950);

    --color-success-50: var(--success-50);
    --color-success-100: var(--success-100);
    --color-success-200: var(--success-200);
    --color-success-300: var(--success-300);
    --color-success-400: var(--success-400);
    --color-success-500: var(--success-500);
    --color-success-600: var(--success-600);
    --color-success-700: var(--success-700);
    --color-success-800: var(--success-800);
    --color-success-900: var(--success-900);
    --color-success-950: var(--success-950);

    --color-warning-50: var(--warning-50);
    --color-warning-100: var(--warning-100);
    --color-warning-200: var(--warning-200);
    --color-warning-300: var(--warning-300);
    --color-warning-400: var(--warning-400);
    --color-warning-500: var(--warning-500);
    --color-warning-600: var(--warning-600);
    --color-warning-700: var(--warning-700);
    --color-warning-800: var(--warning-800);
    --color-warning-900: var(--warning-900);
    --color-warning-950: var(--warning-950);
}

@layer utilities {
    .fi-color-danger {
        --color-50: var(--danger-50);
        --color-100: var(--danger-100);
        --color-200: var(--danger-200);
        --color-300: var(--danger-300);
        --color-400: var(--danger-400);
        --color-500: var(--danger-500);
        --color-600: var(--danger-600);
        --color-700: var(--danger-700);
        --color-800: var(--danger-800);
        --color-900: var(--danger-900);
        --color-950: var(--danger-950);
        --color-50-text: var(--danger-50-text);
        --color-100-text: var(--danger-100-text);
        --color-200-text: var(--danger-200-text);
        --color-300-text: var(--danger-300-text);
        --color-400-text: var(--danger-400-text);
        --color-500-text: var(--danger-500-text);
        --color-600-text: var(--danger-600-text);
        --color-700-text: var(--danger-700-text);
        --color-800-text: var(--danger-800-text);
        --color-900-text: var(--danger-900-text);
        --color-950-text: var(--danger-950-text);
        --color-white-text: var(--danger-white-text);
        --color-gray-50-text: var(--danger-gray-50-text);
        --color-gray-100-text: var(--danger-gray-100-text);
        --color-gray-200-text: var(--danger-gray-200-text);
        --color-gray-300-text: var(--danger-gray-300-text);
        --color-gray-400-text: var(--danger-gray-400-text);
        --color-gray-500-text: var(--danger-gray-500-text);
        --color-gray-600-text: var(--danger-gray-600-text);
        --color-gray-700-text: var(--danger-gray-700-text);
        --color-gray-800-text: var(--danger-gray-800-text);
        --color-gray-900-text: var(--danger-gray-900-text);
        --color-gray-950-text: var(--danger-gray-950-text);
    }

    .fi-color-gray {
        --color-50: var(--gray-50);
        --color-100: var(--gray-100);
        --color-200: var(--gray-200);
        --color-300: var(--gray-300);
        --color-400: var(--gray-400);
        --color-500: var(--gray-500);
        --color-600: var(--gray-600);
        --color-700: var(--gray-700);
        --color-800: var(--gray-800);
        --color-900: var(--gray-900);
        --color-950: var(--gray-950);
        --color-50-text: var(--gray-50-text);
        --color-100-text: var(--gray-100-text);
        --color-200-text: var(--gray-200-text);
        --color-300-text: var(--gray-300-text);
        --color-400-text: var(--gray-400-text);
        --color-500-text: var(--gray-500-text);
        --color-600-text: var(--gray-600-text);
        --color-700-text: var(--gray-700-text);
        --color-800-text: var(--gray-800-text);
        --color-900-text: var(--gray-900-text);
        --color-950-text: var(--gray-950-text);
        --color-white-text: var(--gray-white-text);
        --color-gray-50-text: var(--gray-gray-50-text);
        --color-gray-100-text: var(--gray-gray-100-text);
        --color-gray-200-text: var(--gray-gray-200-text);
        --color-gray-300-text: var(--gray-gray-300-text);
        --color-gray-400-text: var(--gray-gray-400-text);
        --color-gray-500-text: var(--gray-gray-500-text);
        --color-gray-600-text: var(--gray-gray-600-text);
        --color-gray-700-text: var(--gray-gray-700-text);
        --color-gray-800-text: var(--gray-gray-800-text);
        --color-gray-900-text: var(--gray-gray-900-text);
        --color-gray-950-text: var(--gray-gray-950-text);
    }

    .fi-color-info {
        --color-50: var(--info-50);
        --color-100: var(--info-100);
        --color-200: var(--info-200);
        --color-300: var(--info-300);
        --color-400: var(--info-400);
        --color-500: var(--info-500);
        --color-600: var(--info-600);
        --color-700: var(--info-700);
        --color-800: var(--info-800);
        --color-900: var(--info-900);
        --color-950: var(--info-950);
        --color-50-text: var(--info-50-text);
        --color-100-text: var(--info-100-text);
        --color-200-text: var(--info-200-text);
        --color-300-text: var(--info-300-text);
        --color-400-text: var(--info-400-text);
        --color-500-text: var(--info-500-text);
        --color-600-text: var(--info-600-text);
        --color-700-text: var(--info-700-text);
        --color-800-text: var(--info-800-text);
        --color-900-text: var(--info-900-text);
        --color-950-text: var(--info-950-text);
        --color-white-text: var(--info-white-text);
        --color-gray-50-text: var(--info-gray-50-text);
        --color-gray-100-text: var(--info-gray-100-text);
        --color-gray-200-text: var(--info-gray-200-text);
        --color-gray-300-text: var(--info-gray-300-text);
        --color-gray-400-text: var(--info-gray-400-text);
        --color-gray-500-text: var(--info-gray-500-text);
        --color-gray-600-text: var(--info-gray-600-text);
        --color-gray-700-text: var(--info-gray-700-text);
        --color-gray-800-text: var(--info-gray-800-text);
        --color-gray-900-text: var(--info-gray-900-text);
        --color-gray-950-text: var(--info-gray-950-text);
    }

    .fi-color-primary {
        --color-50: var(--primary-50);
        --color-100: var(--primary-100);
        --color-200: var(--primary-200);
        --color-300: var(--primary-300);
        --color-400: var(--primary-400);
        --color-500: var(--primary-500);
        --color-600: var(--primary-600);
        --color-700: var(--primary-700);
        --color-800: var(--primary-800);
        --color-900: var(--primary-900);
        --color-950: var(--primary-950);
        --color-50-text: var(--primary-50-text);
        --color-100-text: var(--primary-100-text);
        --color-200-text: var(--primary-200-text);
        --color-300-text: var(--primary-300-text);
        --color-400-text: var(--primary-400-text);
        --color-500-text: var(--primary-500-text);
        --color-600-text: var(--primary-600-text);
        --color-700-text: var(--primary-700-text);
        --color-800-text: var(--primary-800-text);
        --color-900-text: var(--primary-900-text);
        --color-950-text: var(--primary-950-text);
        --color-white-text: var(--primary-white-text);
        --color-gray-50-text: var(--primary-gray-50-text);
        --color-gray-100-text: var(--primary-gray-100-text);
        --color-gray-200-text: var(--primary-gray-200-text);
        --color-gray-300-text: var(--primary-gray-300-text);
        --color-gray-400-text: var(--primary-gray-400-text);
        --color-gray-500-text: var(--primary-gray-500-text);
        --color-gray-600-text: var(--primary-gray-600-text);
        --color-gray-700-text: var(--primary-gray-700-text);
        --color-gray-800-text: var(--primary-gray-800-text);
        --color-gray-900-text: var(--primary-gray-900-text);
        --color-gray-950-text: var(--primary-gray-950-text);
    }

    .fi-color-success {
        --color-50: var(--success-50);
        --color-100: var(--success-100);
        --color-200: var(--success-200);
        --color-300: var(--success-300);
        --color-400: var(--success-400);
        --color-500: var(--success-500);
        --color-600: var(--success-600);
        --color-700: var(--success-700);
        --color-800: var(--success-800);
        --color-900: var(--success-900);
        --color-950: var(--success-950);
        --color-50-text: var(--success-50-text);
        --color-100-text: var(--success-100-text);
        --color-200-text: var(--success-200-text);
        --color-300-text: var(--success-300-text);
        --color-400-text: var(--success-400-text);
        --color-500-text: var(--success-500-text);
        --color-600-text: var(--success-600-text);
        --color-700-text: var(--success-700-text);
        --color-800-text: var(--success-800-text);
        --color-900-text: var(--success-900-text);
        --color-950-text: var(--success-950-text);
        --color-white-text: var(--success-white-text);
        --color-gray-50-text: var(--success-gray-50-text);
        --color-gray-100-text: var(--success-gray-100-text);
        --color-gray-200-text: var(--success-gray-200-text);
        --color-gray-300-text: var(--success-gray-300-text);
        --color-gray-400-text: var(--success-gray-400-text);
        --color-gray-500-text: var(--success-gray-500-text);
        --color-gray-600-text: var(--success-gray-600-text);
        --color-gray-700-text: var(--success-gray-700-text);
        --color-gray-800-text: var(--success-gray-800-text);
        --color-gray-900-text: var(--success-gray-900-text);
        --color-gray-950-text: var(--success-gray-950-text);
    }

    .fi-color-warning {
        --color-50: var(--warning-50);
        --color-100: var(--warning-100);
        --color-200: var(--warning-200);
        --color-300: var(--warning-300);
        --color-400: var(--warning-400);
        --color-500: var(--warning-500);
        --color-600: var(--warning-600);
        --color-700: var(--warning-700);
        --color-800: var(--warning-800);
        --color-900: var(--warning-900);
        --color-950: var(--warning-950);
        --color-50-text: var(--warning-50-text);
        --color-100-text: var(--warning-100-text);
        --color-200-text: var(--warning-200-text);
        --color-300-text: var(--warning-300-text);
        --color-400-text: var(--warning-400-text);
        --color-500-text: var(--warning-500-text);
        --color-600-text: var(--warning-600-text);
        --color-700-text: var(--warning-700-text);
        --color-800-text: var(--warning-800-text);
        --color-900-text: var(--warning-900-text);
        --color-950-text: var(--warning-950-text);
        --color-white-text: var(--warning-white-text);
        --color-gray-50-text: var(--warning-gray-50-text);
        --color-gray-100-text: var(--warning-gray-100-text);
        --color-gray-200-text: var(--warning-gray-200-text);
        --color-gray-300-text: var(--warning-gray-300-text);
        --color-gray-400-text: var(--warning-gray-400-text);
        --color-gray-500-text: var(--warning-gray-500-text);
        --color-gray-600-text: var(--warning-gray-600-text);
        --color-gray-700-text: var(--warning-gray-700-text);
        --color-gray-800-text: var(--warning-gray-800-text);
        --color-gray-900-text: var(--warning-gray-900-text);
        --color-gray-950-text: var(--warning-gray-950-text);
    }

    .fi-bg-color-50 {
        --bg: var(--color-50);
        --text: var(--color-50-text);
    }

    .fi-bg-color-100 {
        --bg: var(--color-100);
        --text: var(--color-100-text);
    }

    .fi-bg-color-200 {
        --bg: var(--color-200);
        --text: var(--color-200-text);
    }

    .fi-bg-color-300 {
        --bg: var(--color-300);
        --text: var(--color-300-text);
    }

    .fi-bg-color-400 {
        --bg: var(--color-400);
        --text: var(--color-400-text);
    }

    .fi-bg-color-500 {
        --bg: var(--color-500);
        --text: var(--color-500-text);
    }

    .fi-bg-color-600 {
        --bg: var(--color-600);
        --text: var(--color-600-text);
    }

    .fi-bg-color-700 {
        --bg: var(--color-700);
        --text: var(--color-700-text);
    }

    .fi-bg-color-800 {
        --bg: var(--color-800);
        --text: var(--color-800-text);
    }

    .fi-bg-color-900 {
        --bg: var(--color-900);
        --text: var(--color-900-text);
    }

    .fi-bg-color-950 {
        --bg: var(--color-950);
        --text: var(--color-950-text);
    }

    .hover\:fi-bg-color-50 {
        --hover-bg: var(--color-50);
        --hover-text: var(--color-50-text);
    }

    .hover\:fi-bg-color-100 {
        --hover-bg: var(--color-100);
        --hover-text: var(--color-100-text);
    }

    .hover\:fi-bg-color-200 {
        --hover-bg: var(--color-200);
        --hover-text: var(--color-200-text);
    }

    .hover\:fi-bg-color-300 {
        --hover-bg: var(--color-300);
        --hover-text: var(--color-300-text);
    }

    .hover\:fi-bg-color-400 {
        --hover-bg: var(--color-400);
        --hover-text: var(--color-400-text);
    }

    .hover\:fi-bg-color-500 {
        --hover-bg: var(--color-500);
        --hover-text: var(--color-500-text);
    }

    .hover\:fi-bg-color-600 {
        --hover-bg: var(--color-600);
        --hover-text: var(--color-600-text);
    }

    .hover\:fi-bg-color-700 {
        --hover-bg: var(--color-700);
        --hover-text: var(--color-700-text);
    }

    .hover\:fi-bg-color-800 {
        --hover-bg: var(--color-800);
        --hover-text: var(--color-800-text);
    }

    .hover\:fi-bg-color-900 {
        --hover-bg: var(--color-900);
        --hover-text: var(--color-900-text);
    }

    .hover\:fi-bg-color-950 {
        --hover-bg: var(--color-950);
        --hover-text: var(--color-950-text);
    }

    .dark\:fi-bg-color-50 {
        --dark-bg: var(--color-50);
        --dark-text: var(--color-50-text);
    }

    .dark\:fi-bg-color-100 {
        --dark-bg: var(--color-100);
        --dark-text: var(--color-100-text);
    }

    .dark\:fi-bg-color-200 {
        --dark-bg: var(--color-200);
        --dark-text: var(--color-200-text);
    }

    .dark\:fi-bg-color-300 {
        --dark-bg: var(--color-300);
        --dark-text: var(--color-300-text);
    }

    .dark\:fi-bg-color-400 {
        --dark-bg: var(--color-400);
        --dark-text: var(--color-400-text);
    }

    .dark\:fi-bg-color-500 {
        --dark-bg: var(--color-500);
        --dark-text: var(--color-500-text);
    }

    .dark\:fi-bg-color-600 {
        --dark-bg: var(--color-600);
        --dark-text: var(--color-600-text);
    }

    .dark\:fi-bg-color-700 {
        --dark-bg: var(--color-700);
        --dark-text: var(--color-700-text);
    }

    .dark\:fi-bg-color-800 {
        --dark-bg: var(--color-800);
        --dark-text: var(--color-800-text);
    }

    .dark\:fi-bg-color-900 {
        --dark-bg: var(--color-900);
        --dark-text: var(--color-900-text);
    }

    .dark\:fi-bg-color-950 {
        --dark-bg: var(--color-950);
        --dark-text: var(--color-950-text);
    }

    .dark\:hover\:fi-bg-color-50 {
        --dark-hover-bg: var(--color-50);
        --dark-hover-text: var(--color-50-text);
    }

    .dark\:hover\:fi-bg-color-100 {
        --dark-hover-bg: var(--color-100);
        --dark-hover-text: var(--color-100-text);
    }

    .dark\:hover\:fi-bg-color-200 {
        --dark-hover-bg: var(--color-200);
        --dark-hover-text: var(--color-200-text);
    }

    .dark\:hover\:fi-bg-color-300 {
        --dark-hover-bg: var(--color-300);
        --dark-hover-text: var(--color-300-text);
    }

    .dark\:hover\:fi-bg-color-400 {
        --dark-hover-bg: var(--color-400);
        --dark-hover-text: var(--color-400-text);
    }

    .dark\:hover\:fi-bg-color-500 {
        --dark-hover-bg: var(--color-500);
        --dark-hover-text: var(--color-500-text);
    }

    .dark\:hover\:fi-bg-color-600 {
        --dark-hover-bg: var(--color-600);
        --dark-hover-text: var(--color-600-text);
    }

    .dark\:hover\:fi-bg-color-700 {
        --dark-hover-bg: var(--color-700);
        --dark-hover-text: var(--color-700-text);
    }

    .dark\:hover\:fi-bg-color-800 {
        --dark-hover-bg: var(--color-800);
        --dark-hover-text: var(--color-800-text);
    }

    .dark\:hover\:fi-bg-color-900 {
        --dark-hover-bg: var(--color-900);
        --dark-hover-text: var(--color-900-text);
    }

    .dark\:hover\:fi-bg-color-950 {
        --dark-hover-bg: var(--color-950);
        --dark-hover-text: var(--color-950-text);
    }
}
