@import 'tailwindcss';
@import '../../../support/resources/css/tailwindcss-preset.css';

@import './base.css' layer(base);

@theme inline {
    --font-mono: var(--mono-font-family), 'mono';
    --font-sans: var(--font-family), 'sans-serif';
    --font-serif: var(--serif-font-family), 'serif';
}
